:root {
  /* styling variables */
  --bg: rgb(87, 122, 123);
  --common: rgb(40, 157, 112);
  --borderthickness: 5px;
}

body {
  background-color: var(--BGColour);
}

headerlinks{
  text-align: right;
}

header {
  padding-top: 16px;
  background-color: grey;
  color: var(--darktext);
}

a{
  color:rgb(8, 8, 8);
}


textoverimage{
  font-size: 2.5em;
  color: white;
  position: absolute;
  top: 35%;
  right: 128px;
  background-color: var(--bg);
  padding: 12px;
}

main{
  background-color: rgb(62, 77, 79);
  color:rgb(119, 184, 139)
}

#LeftAlignedSubTitles{
position: absolute;
left: 6px;
}

.leftindent{
 margin-left: 15%;
 margin-right: 15%
}


/*not used */
#card1{
  margin-left: 1%;
  margin-right: -35%
}
/* delete if not used */


article{
  border-left: solid var(--bg);
  padding-left: 16px;
}

.relative{
  position: relative;
}

.headerlinks{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  display: inline-flex;
  column-gap: 30px;
  padding-top: 42px;
  height: 100px;
  line-height: 1.5px;
  text-underline-offset: 7px;
  font-weight: bold;
  color:rgb(8, 8, 8);
}

main h1{
  font-size: 350%;
  padding-right: 16px;
}

header h1 {
  font-size: 350%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  float: left;
  background-color:var(--bg);
  padding: 10px;
}

.tech{
  background-image: url("../images/GlobalTech.jpg");
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.selfie{
  height: 100%;
  position: absolute;
  left: 16PX;
  top: 128px;
  background-image: url("../images/Selfie.png");
  height: 250px;
  width: 25%;
  background-size: cover;
  background-position: center;
  float: left;
}

textoversurf{
  position: absolute;
  font-size: 2.5em;
  color: white;
  top: 35%;
  left: 4px;
  background-color: var(--bg);
  padding: 12px;
}

.surf{
  position: relative;
  background-image: url("../images/SandyBeach.jpg");
  height: 150px;
  border: solid var(--bg);
  border-width: var(--borderthickness);
  width: 100%;
  background-size: cover;
  background-position: center;

}

h2 {
  margin: 2% 0;
  font-size: 250%;
}

footer {
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding: 2%;
  /*background-color: var(--dark);*/
  color: var(--light);
  font-size: 200%;
  bottom: 0;
  width: 100%;
  align-self: center;
  
}

/* Mobile resolution area - need to optimise */
@media screen and (max-width: 1768px) {
  header {
    flex-direction: column;
  }

  .headerlinks{
    font-size: 150%;
  }

  main h1{
    font-size: 100%;
    }

  .selfie{
    top: 256px;
  }

  textoverimage{
   top: 50%;
  }
}

@media screen and (max-width: 925px) {
  header {
    flex-direction: column;
  }

  .headerlinks{
    font-size: 150%;
  }


  main h1{
    font-size: 80%;
    }
}

@media screen and (max-width: 768px) {
  main h1{
    font-size: 200%;
  }
  .headerlinks{
    font-size: 125%;
  }

  main h1{
    font-size: 80%;
    }

@media screen and (max-width: 589px) {

  .headerlinks{
    font-size: 80%;
  }

  main h1{
  font-size: 40%;
  }
}


}